html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("/img/number_corruption.webp");
  margin: 0;
  flex-direction: column;
}

#message-404 {
  text-align: center;
  width: 20%;
  height: 20%;
  color: white;
  background-color: #800000;
  margin: auto;
}
