@font-face {
  font-family: WindowsRegular;
  src: url("/fonts/Windows Regular.ttf");
}

/* Add Animation */
@keyframes animate-top {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.navbar {
  flex: 0;
}

.navbar-button {
  font-family: WindowsRegular;

  background-color: #c0c0c0;
  flex: 0;
}

.modal {
  background-color: #008080;
  display: none;
  position: fixed;
  z-index: 1;
  width: 90%;
  height: 50%;
  overflow: auto;
  box-shadow: 0 4px 8px 0 #000000;
  animation-name: animate-top;
  animation-duration: 0.4s;
}

.modal-titlebar {
  width: 100%;
  border-radius: 10%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.footer {
  bottom: 0%;
  position: fixed;
}

body {
  display: flex;
  background-color: #808080;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
